@model List<BasketVM>
@{
    double subTotal = 0;
    double total = 0;
    foreach (var item in Model)
    {
        total += (item.Price * item.Count);
    }
}

<div class="offcanvas-overlay"></div>
<div class="minicart-inner-content header-cart">
    <div class="minicart-close">
        <i class="ion-android-close"></i>
    </div>
    <div class="minicart-content-box">
        <div class="minicart-item-wrapper">
            <ul class="">
                @foreach (BasketVM basketVM in Model)
                {
                    <li class="minicart-item">
                        <div class="minicart-thumb">
                            <a href="~/product-details.html">
                                <img src="~/assets/img/product/@basketVM.Image" alt="product">
                            </a>
                        </div>
                        <div class="minicart-content">
                            <h3 class="product-name">
                                <a href="~/product-details.html">@basketVM.Title</a>
                            </h3>
                            <p>
                                <span class="cart-quantity">@basketVM.Count <strong>&times;</strong></span>
                                <span class="cart-price">$@basketVM.Price</span>
                            </p>
                        </div>
                        <a asp-controller="Basket" asp-action="DeleteBasket" asp-route-id="@basketVM.ProductId" class="minicart-remove deletebasket"><i class="ion-android-close"></i></a>
                    </li>
                    subTotal += (basketVM.Price * basketVM.Count);
                }
            </ul>
        </div>

        <div class="minicart-pricing-box">
            <ul>
                <li>
                    <span>sub-total</span>
                    <span><strong>$@subTotal</strong></span>
                </li>
                <li>
                    <span>VAT (20%)</span>
                    <span><strong>$60.00</strong></span>
                </li>
                <li class="total">
                    <span>total</span>
                    <span><strong>$@total</strong></span>
                </li>
            </ul>
        </div>

        <div class="minicart-button">
            <a asp-controller="basket" asp-action="Index"><i class="fa fa-shopping-cart"></i> view cart</a>
            <a asp-controller="Order" asp-action="Create"><i class="fa fa-share"></i> checkout</a>
        </div>
    </div>
</div>