@model LoginVM
<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="single-input-item">
        <input asp-for="Email" placeholder="Email or Username" required />
    </div>
    <div class="single-input-item">
        <input asp-for="Password" placeholder="Enter your Password" required />
    </div>
    <div class="single-input-item">
        <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
            <div class="remember-meta">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                    <label class="custom-control-label" asp-for="RememberMe">Remember Me</label>
                </div>
            </div>
            <a href="#" class="forget-pwd">Forget Password?</a>
        </div>
    </div>
    <div class="single-input-item">
        <button class="btn main-btn-2">Login</button>
    </div>
</form>
@section Script{
    <partial name="_ValidationFormScriptPartial">
}
