@model OrderVM
<form id="orderForm" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" placeholder="Full Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Email Address">
            </div>
        </div>
        <div class="col-md-12">
            <div class="single-input-item">
                <label asp-for="Address"></label>
                <input asp-for="Address" placeholder="Address">
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="Country"></label>
                <input asp-for="Country" placeholder="Country">
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="City"></label>
                <input asp-for="City" placeholder="Town/City">
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="State"></label>
                <input asp-for="State" placeholder="State">
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-input-item">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" placeholder="Zip Code">
            </div>
        </div>
    </div>
</form>