@model Color
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="d-sm-flex mb-4">
        <h1 class="h3 mb-0 text-gray-800">Color Update</h1>
    </div>
    <div class="col-lg-12 mx-auto">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Color">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>